<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>community_list</title>
</head>
<body>

{% block title %} Community List {% endblock %}

{% block content %}
    <div class="container my-1">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>작성자</th>
              <th>작성일시</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th scope="row"></th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
    </div>
{% endblock %}
</body>
</html>