{% extends '../layout/base.html' %}

{% block css %}


{% endblock css %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
                <img src="{{ product.product_image_url }}" class="img-fluid rounded-start" style="object-fit : cover;" alt="...">
         </div>

        <div class="col-md-9">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div>상품명 : {{ product.product_name }}</div>
            <div>상품 카테고리 : {{ product.product_category_name }}</div>

            <div>상품 판매 편의점 : {{ product.convenient_store_name }}</div>
            <div class="recommend" data-uri="{% url 'product:product_likes' product.product_id %}">
                <ion-icon id="heart-icon" name="{% if liked %}heart{% else %}heart-outline{% endif %}"></ion-icon>
                <span class="badge rounded-pill bg-success">{{ product.likes.count }}</span>
            </div>
            <div>
                <span class="card-text"><small class="text-body-secondary">🗯️ 리뷰개수:{{ product.Product_reviews.count }}</small></span>
            </div>
        </div>

</div>


    {% for review in reviews %}
        <div class="card mb-3">
            <dl class="row">
                <dt class="col-sm-3">작성자</dt>
                <dd class="col-sm-9">{{ review.author.nickname }}</dd>

                <dt class="col-sm-3">맛</dt>
                <dd class="col-sm-9">{{ review.tasteContent }}</dd>

                <dt class="col-sm-3">가격</dt>
                <dd class="col-sm-9">{{ review.priceContent }}</dd>

                <dt class="col-sm-3">편리성</dt>
                <dd class="col-sm-9">{{ review.convenienceContent }}</dd>

                <dt class="col-sm-3">편리성</dt>
                <dd class="col-sm-9"><img src="{{ review.reviewImageUrl.url}}" alt="Review Image"></dd>
            </dl>
        </div>
    {% endfor %}






{% endblock content %}

{% block script %}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script>
        {# 제품 좋아요 기능 #}
        document.addEventListener("DOMContentLoaded", () => {
            const heartIcon = document.querySelector('#heart-icon');
            if (liked === 'true') {
                heartIcon.setAttribute('name', 'heart');
            } else {
                heartIcon.setAttribute('name', 'heart-outline');
            }
        });
        
        const recommend_elements = document.getElementsByClassName("recommend");
        Array.from(recommend_elements).forEach((element) => {
        // js의 비동기처리를 지원하는 async..await을 사용
        element.addEventListener('click', async (e) => {
            {% if not user.is_authenticated %}
                if (confirm('로그인이 필요합니다. 로그인 페이지로 이동하시겠습니까?')) {
                    location.href = "{% url 'users:login' %}?next={{ request.path }}";
                }
                return false;
            {% endif %}


            {# dataset : data-* 속성에 접근 가능한 JavaScript DOM property #}
            // dataset.uri는 data-uri 속성값 가져옴
            // ->  '?.' (Optional Chaining) 연산자로 dataset이 존재할 경우에만 uri를 접근 그렇지 않으면 undefined를 반환

            // a태그 또는 자식span태그 클릭 대응
            const url = e.target.dataset?.uri || e.target.parentElement.dataset.uri;

            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                        },
                body: JSON.stringify({'product_id': {{ product.product_id }}}),
            });
            const data = await response.json();
            element.querySelector('span').textContent = data.likes_count;

            const heartIcon = element.querySelector('#heart-icon');
            if (data.liked) { // 서버에서 받은 좋아요 상태
                heartIcon.setAttribute('name', 'heart'); // 채운 하트로 변경
            } else {
                heartIcon.setAttribute('name', 'heart-outline'); // 빈 하트로 변경
            }
            });
        });

    </script>
{% endblock script %}
