{% extends '../layout/base.html' %}

{% load static %}

{% block style %} <link rel="stylesheet" href="{% static 'css/product.css' %}">

    
{% endblock style %}

{% block content %}

<div class="container product-container">
    <section class="search-product">
        <a class="input-group my-5" href="{% url 'product:product_search' %}" style="text-decoration: none !important;">
            <span class="form-control">검색할 상품을 입력해 주세요</span>
            <button class="btn btn-primary">🔍</button>
        </a>
    </section>

    <div id="product-tab-contents" class="product-tab mb-3">
        <button class="product-tab-btn btn {% if tab == 'ALL' %}product-btn-primary{% endif %}" value="ALL" onclick="openTab('ALL')">ALL</button>
        <button class="product-tab-btn btn {% if tab == 'LATEST' %}product-btn-primary{% endif %}" value="LATEST" onclick="openTab('LATEST')">LATEST</button>
        <button class="product-tab-btn btn {% if tab == 'AI' %}product-btn-primary{% endif %}" value="AI" onclick="openTab('AI')">AI</button>
    </div>

<!-- 왼쪽 필터 / 오른쪽 상품으로 목록 구성-->
    <div class="row">
        <div class="col-md-2">
            <div class="card mb-3">
                <div class="card-header">편의점</div>
                <div class="card-body">
                    <div><label>
                        <input type="radio" name="store" value="ALL" onclick="filterProducts()" checked>
                        ALL
                    </label></div>
                    <div><label>
                        <input type="radio" name="store" value="CU" onclick="filterProducts()">
                        CU
                    </label></div>
                    <div><label>
                        <input type="radio" name="store" value="GS25" onclick="filterProducts()">
                        GS25
                    </label></div>
                    <div> <label>
                        <input type="radio" name="store" value="7-ELEVEN" onclick="filterProducts()">
                        7-ELEVEN
                    </label></div>
                </div>    
            </div>
        
            <!--카테고리 필터 카드-->
            <div class="card mb-3">
                <div class="card-header">재품 카테고리</div>
                <div class="card-body">
                    <div><label>
                        <input type="radio" name="category" value="ALL" onclick="filterProducts()" checked>
                        전체 상품
                    </label></div>
                    <div><label>
                        <input type="radio" name="category" value="간편식" onclick="filterProducts()" >
                        간편식
                    </label></div>
                    <div><label>
                        <input type="radio" name="category" value="간식" onclick="filterProducts()">
                        간식
                    </label></div>
                    <div><label>
                        <input type="radio" name="category" value="즉석조리" onclick="filterProducts()">
                        즉석조리
                    </label></div>
                    <div> <label>
                        <input type="radio" name="category" value="가공식품" onclick="filterProducts()">
                        가공식품
                    </label></div>
                    <div> <label>
                        <input type="radio" name="category" value="음료,커피" onclick="filterProducts()">
                        음료/커피
                    </label></div>
                </div>
            </div>
        </div>

        <!--오른쪽 상품 목록-->
        <div class="col-md-10 flex-container">
            <div id="product-list" class="row row-cols-2 row-cols-sm-3 row-cols-md-3 g-3">
                {% for product in page_obj %}
                    <div class="col">
                            <div class="product-card mb-3" >
                                <a href="{% url 'product:product_detail' product_id=product.product_id %}" class="text-decoration-none">
                                    {% if product.product_image_url %}
                                        <img class="product-image" src="{{ product.product_image_url }}" style="background-color:white;">
                                    {% endif%}

                                    <div class="card-body">
                                        <div class="card-title my-1">{{ product.product_name }}</div>
                                        <div>💰 {{ product.product_price }}원 | 🏪 {{ product.convenient_store_name }} | 🏷️ {{ product.product_category_name }} </div>

                                        {% if tab == 'AI' %}
                                            <div>
                                                {% for keyword in product.conv_keywords %}
                                                    <span class="badge bg-warning text-dark">#{{ keyword }}</span>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <span> 😋맛 : {{ product.taste_score }} | </span>
                                                <span> 💸가격 : {{ product.price_score }}</span>
                                            </div>

                                        {% else %}
                                        <div class="product-tag my-1">
                                            <span class="text-body-secondary">❤️:{{ product.likes.count }}</span>
                                            <span class="text-body-secondary">🗯️:{{ product.Product_reviews.count }}</span>
                                        </div>

                                        {% endif %}

                                    </div>
                                </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row mt-4" id="pagination">
        <div class="col-12 text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.previous_page_number|add:-4 >= 0 %}
                        <li class="page-item">
                            <button class="page-link" onclick="filterProducts({{ page_obj.previous_page_number|add:-3 }})">
                                Previous
                            </button>
                        </li>
                    {% endif %}

                    {% for page_number in page_obj.paginator.page_range %}
                        {% if page_number >= page_obj.number|add:-3 and page_number <= page_obj.number|add:3 %}
                            {% if page_number == page_obj.number %}
                                <li class="pagination-link active"><a class="page-link" href="#">{{ page_number }}</a></li>
                            {% else %}
                                <li class="page-item">
                                    <button class="page-link" onclick="filterProducts({{ page_number }})">{{ page_number }}</button>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if last_page >= page_obj.number|add:4 %}
                        <button class="page-link" onclick="filterProducts({{ page_obj.next_page_number|add:+3 }})">
                            Next
                        </button>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock content %}
{% block script %}
    <script src="{% static 'js/product/product.js' %}"></script>
{% endblock script %}