{% extends '../layout/base.html' %}
{% load static %}


{% block title %} Community List {% endblock %}

{% block content %}

        <!-- 📌 커뮤니티 목록 -->
    {% for community in communities %}
    <div class="card mb-3">
        <div class="card-header">
            <span class="badge bg-primary">{{ community.category.categoryName }}</span>
{#            <strong>{{ community.communityTitle|truncatewords:20 }}</strong>#}
            <a href="{% url 'community:community_detail' community.communityId %}">
                {{ community.communityTitle|truncatewords:20 }}
            </a>
        </div>
        <div class="card-body">
            <p>{{ community.communityContent|truncatewords:100 }}</p>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <div>
                <img src="{{ community.author.profile.url }}" alt="User" width="20">
                <span>{{ community.author.user.username }}</span>
                
            </div>
            <div>
                <small class="text-muted">투표기간: {{ community.created_at|date:"Y-m-d" }}~{{ community.deadline|date:"Y-m-d" }} </small>
                <button class="btn btn-outline-success btn-sm" 
                        onclick="voteCommunity({{ community.communityId }})" 
                        {% if community.is_expired %}disabled{% endif %}>
                    {% if community.is_expired %}
                        ⏳ 투표 기간 완료
                    {% else %}
                        🗳️ +{{ community.voter.count }}
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}

{% block script %}
    <form id="csrf-form">{% csrf_token %}</form> 
    <script src="{% static 'js/community/community.js' %}"></script>
    <script>
        var voteCommunityUrl = "{% url 'community:vote_community' %}";
    </script>
{% endblock %}

