<!-- 추가 -->
{% extends '../layout/base.html' %}
{% csrf_token %}

{% load socialaccount %}

{% block content %}
    <div style="text-align: center; margin-top:20px; ">
        <div id="naverIdLogin">
            <a id="naverIdLogin_loginButton" href="{% provider_login_url 'naver' %}">
                <img src="https://static.nid.naver.com/oauth/big_g.PNG?version=js-2.0.1" height="50">
            </a>
        </div>
        
        <div style="margin-top: 10px">
            <a id="kakaoIdLogin" href="{% provider_login_url 'kakao' %}">
                <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" height="50">
            </a>
        </div>
    </div>
{% endblock content %}