{% extends '../layout/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    <h3>나의 커뮤니티</h3>
    <div class="community-container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:my_review' %}">review</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'users:my_community' %}">community</a>
            </li>
        </ul>
    
        {% if my_communities %}
            {% for community in my_communities %}
                <div class="community-card">
                    <!-- 카테고리 -->
                    <div class="community-category">{{ community.category.category_name }}</div>
    
                    <!-- 제목 -->
                    <h3 class="community-title">{{ community.communityTitle }}</h3>
    
                    <!-- 작성자 및 작성일 -->
                    <div class="community-meta">
    {#                    <img class="profile-pic" src="{{ community.author.profile.profile_image.url }}" alt="{{ community.author.nickname }}">#}
                        <span class="author-name">{{ community.author.nickname }}</span>
                        <span class="community-date">{{ community.created_at|date:"Y.m.d H:i" }}</span>
                    </div>
    
                    <!-- 본문 -->
                    <p class="community-content">{{ community.communityContent }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p class="no-community">작성한 커뮤니티 글이 없습니다.</p>
        {% endif %}
    </div>
{% endblock content %}



{% block script %}
    <script src="{% static 'js/community/community_list.js' %}"></script>
    <script>
    console.log('community_list.html script...');
    </script>
{% endblock script %}