{% extends '../layout/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">

    <h3>나의 리뷰</h3>
    
    <div class="review-container">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'users:my_review' %}">review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:my_community' %}">community</a>
          </li>
        </ul>

        {% if my_reviews %}
            {% for review in my_reviews %}
                <div class="review-card">
                    <!-- 상품 정보 -->
                    <div class="product-info">
                        <h2>{{ review.product.product_name }}</h2>
                        <span class="product-meta">
                            {{ review.product.convenient_store_name }} | {{ review.product.product_category_name }} | {{ review.product.product_price }}원
                        </span>
                        <img class="product-image" src="{{ review.product.product_image_url }}" alt="{{ review.product.product_name }}">
                    </div>

                    <!-- 작성자 정보 -->
                    <div class="review-author">
                        <img class="profile-pic" src="{{ review.author.profile.url }}" alt="{{ review.author.nickname }}">
                        <span class="author-name">{{ review.author.nickname }}</span>
                        <span class="review-date">{{ review.created_at|date:"Y.m.d" }}</span>
                    </div>

                    <!-- 리뷰 내용 (아코디언 형식) -->
                     <div class="review-content">
                        <details>
                            <summary>맛</summary>
                            <p>{{ review.tasteContent }}</p>
                        </details>
                        <details>
                            <summary>가성비</summary>
                            <p>{{ review.priceContent }}</p>
                        </details>
                        <details>
                            <summary>편리성</summary>
                            <p>{{ review.convenienceContent }}</p>
                        </details>
                    </div>

                    <!-- 리뷰 이미지 -->
                    {% if review.reviewImageUrl %}
                        <div class="review-image">
                            <img src="{{ review.reviewImageUrl.url }}" alt="리뷰 이미지">
                        </div>
                    {% endif %}

                </div>
            {% endfor %}
        {% else %}
            <p class="no-review">작성한 리뷰가 없습니다.</p>
        {% endif %}
    </div>
        
    
{% endblock content %}


{% block script %}
    <script src="{% static 'js/mywrite/mywrite_review.js' %}"></script>
    <script>
    console.log('review_list.html script...');
    </script>
{% endblock script %}