{% extends '../layout/base.html' %}



{% block title %} 커뮤니티 글쓰기 {% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}

        <div class="p-5">
            <label for="productId" class="form-label">상품선택</label>
            <input class="form-control" list="datalistOptions" id="productId" name="productId" placeholder="Search...">
            <datalist id="datalistOptions">
                <option value=1></option>
            </datalist>
        </div>

        <div class="p-5">
            <select class="form-select" aria-label="Default select example" id="categoryId" name="categoryId">
              <option selected>카테고리</option>
              <option value="1">아이디어</option>
              <option value="2">꿀조합</option>
            </select>
        </div>


            <div class="p-5">
              <label for="communityTitle" class="form-label">제목</label>
              <input type="text"
                     class="form-control"
                     name="communityTitle"
                     id="communityTitle"
                     placeholder="제목">
            </div>

              <label for="communityContent" class="form-label">본문</label>
              <textarea
                      class="form-control"
                      name="communityContent"
                      id="communityContent"
                      rows="10"></textarea>
            </div>

            <button>저장</button>

    
    </form>
    
{% endblock content %}

